body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  color: #222;
}

body * {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body .hidden {
  display: none !important;
}

body #header {
  text-align: center;
  padding: 20px 0;
}

body #header #clock {
  font-size: 18px;
  width: 300px;
  margin: 0 auto;
  color: #fff;
}

body #header .login-box {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  height: 85px;
}

body #header .login-box #login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #header .login-box #login-form input, body #header .login-box #login-form button {
  border: none;
  border-radius: 5px;
}

body #header .login-box #login-form input {
  height: 30px;
  margin-bottom: 5px;
  padding-left: 10px;
}

body #header .login-box #login-form button {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

body #header .login-box #greeting {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 85px;
  border-radius: 40px;
}

body #header .logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  height: 30px;
}

@media all and (max-width: 1024px) {
  body #header {
    padding: 100px 0;
  }
  body #header .login-box {
    width: 80%;
  }
}

@media all and (max-width: 480px) {
  body #header {
    padding-bottom: 25px;
  }
}

body .container {
  position: relative;
}

body .container .todo-area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #777;
}

body .container .todo-area #todo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

body .container .todo-area #todo-form input {
  width: 100%;
  margin-right: 10px;
  line-height: 30px;
  padding: 0 10px;
  background: transparent;
  border: 1px solid #777;
}

body .container .todo-area #todo-form button {
  width: 100px;
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px;
}

body .container .todo-area #todo-list {
  background-color: #fff;
  padding: 20px;
  min-height: 300px;
}

body .container .todo-area #todo-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #777;
  height: 30px;
  line-height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../images/icon01.png) left no-repeat;
  background-size: 30px;
  padding-left: 40px;
  margin-top: 8px;
}

body .container .todo-area #todo-list li button {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  border: none;
  background-color: #ccc;
}

body .container .todo-area #todo-list li button:hover::after {
  color: #f73182;
  cursor: pointer;
}

body .container .todo-area #todo-list li button::after {
  content: '\00d7';
  font-size: 25px;
  color: #777;
  line-height: 27px;
  font-weight: 500;
}

@media all and (max-width: 480px) {
  body .container .todo-area {
    width: 90%;
  }
}

@media all and (max-width: 480px) {
  body .container {
    padding-bottom: 100px;
  }
}

body .container .widget {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

body .container .widget #weather {
  text-align: center;
}

body .container .widget #weather span {
  display: block;
}

@media all and (max-width: 480px) {
  body .container .widget {
    position: absolute;
    top: initial;
    -webkit-transform: initial;
            transform: initial;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    border-radius: 0;
  }
}
/*# sourceMappingURL=style.css.map */