body {    

    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: #222;

    * {
        margin: 0; padding: 0;
        list-style-type: none;
    }

    .hidden {
        display: none!important;
    }

    #header {
        text-align: center;
        padding: 20px 0; 

        #clock {
            font-size: 18px;
            //line-height: 40px;
            //background: rgba(0,0,0,0.2);   
            width: 300px;
            margin: 0 auto;   
            color: #fff;    
        }
        .login-box {
            width: 500px;
            margin: auto;
            margin-top: 20px;
            height: 85px;         
            
            #login-form {
                display: flex;
                flex-direction: column;           

                input, button {
                    border: none;       
                    border-radius: 5px;;             
                }
                input {
                    height: 30px;
                    margin-bottom: 5px;
                    padding-left: 10px;                    
                }
                button {
                    height: 50px;
                    font-size: 24px;
                    cursor: pointer;
                    background: rgba(0,0,0,0.3);
                    color: #fff;

                }

                
            }

            #greeting {
                background: rgba(0,0,0,0.3);
                color: #fff;
                line-height: 85px;
                border-radius: 40px;
            }

        }

        .logout-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 80px;
            border: none;
            border-radius: 5px;
            background: rgba(0,0,0,0.3);
            color: #fff;
            cursor: pointer;
            height: 30px;
        }
        
        @media all and (max-width:1024px) {
            padding: 100px 0;

            .login-box {
                width: 80%;
            }
            
        }

        @media all and (max-width:480px) {
            padding-bottom: 25px;

            
        }
    }
    .container {
        position: relative;
        .todo-area {
            box-sizing: border-box;
            width: 500px;
            margin: 0 auto;
            padding: 25px;
            border: 1px solid #777;            

            #todo-form {
                display: flex;
                justify-content: center;
                margin: 10px 0;

                input {
                    width: 100%;
                    margin-right: 10px;
                    line-height: 30px;
                    padding: 0 10px;
                    background: transparent;
                    border: 1px solid #777;
                }

                button {
                    width: 100px;
                    border: none;
                    cursor: pointer;
                    background: rgba(0,0,0,0.3);
                    color: #fff;
                    border-radius: 5px;
                }
            }
            #todo-list {
                background-color: #fff;
                padding: 20px;
                min-height: 300px;

                li {                
                   display: flex;
                   border-bottom: 1px solid #777;
                   height: 30px;
                   line-height: 30px;
                   justify-content: space-between;
                   background: url(../images/icon01.png) left no-repeat;
                   background-size: 30px;
                   padding-left: 40px;
                   margin-top: 8px;
                   
                    button {
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        margin-left: 10px; 
                        border-radius: 50%;    
                        border: none;
                        background-color: #ccc;   
                        
                        &:hover {

                            &::after {
                                color: #f73182;
                                cursor: pointer;
                            }
                            
                        }

                        &::after {
                            content: '\00d7';
                            font-size: 25px;
                            color: #777;
                            line-height: 27px;
                            font-weight: 500;
                        }

                        
                    }
                }
            }
            @media all and (max-width:480px) {

            width: 90%;
            
            }
        }        
        @media all and (max-width:480px) {
            padding-bottom: 100px;

            
        }
        .widget {
            position: fixed;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0,0,0,0.3);
            padding: 20px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;        
    
            #weather {
                text-align: center;
                
                span {
                    display: block;
                }
            }
    
            @media all and (max-width:480px) {
                position: absolute;
                top: initial;
                transform: initial;
                bottom: 0;
                width: 100%;
                padding: 10px 0;
                border-radius: 0;
    
                
            }
        }
    }
}